{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Quiz Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to the Quiz App</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <form action="{% url 'quiz:start_quiz' %}" method="get">
            <button type="submit">Take Quiz</button>
        </form>
        {% if user.is_staff %}
                <a href="{% url 'quiz:manage_questions' %}">Manage Questions (Admin)</a>
        {% endif %}
        <a href="{% url 'quiz:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'quiz:login' %}">Login</a>
        <a href="{% url 'quiz:register' %}">Register</a>
    {% endif %}
</body>
</html>
